@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*<weight>: Use a value from 100 to 800

.playpen-sans-<uniquifier> {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* <weight>: Use a value from 100 to 900

.public-sans-<uniquifier> {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
 :root {
   --fc-border-color:  rgba(94, 69, 42, 0.3);
   --bs-link-color-rgb: #5e452a;
   --bs-body-bg: #ece9e6;
   --bs-border-color: rgba(200, 178, 178, .5);
 }


body {
  background-color:#dcd6d1;
}

.event-content {
  display: flex;
  flex-direction: column;
  white-space: wrap;
  cursor: pointer;
}

.fc-event:hover{
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
  z-index: 99;
}

.fc-button {
  background-color: #5e452a !important;
  border: #5e452a !important;
}


/* Navbar */
.navbar-brand {
  font-family: "Playpen Sans", cursive;
  font-weight: 500;
  text-transform:initial;
}

.container-fluid {
  background-color: #c8b2b2;
}

.nav-item{
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  color: #5e452a;
}

.logout-spacer {
  padding-top: 05px;
}

.logout-btn {
  font-size: 1.1rem;
  font-weight: 200;
}

/* Calendar */
.event-content {
  width: 100%;
  text-align: center;
}
.event-content b {
  font-size: 1em;
}

@media (max-width: 600px) {
  .event-content b {
      font-size: 0.7em;
  }
  .capacity-info {
      font-size: 0.7em;
      white-space: nowrap;
  }
}

/* form */
.form-group{
  margin-top: 0.5rem;
}
.form-label {
  font-family: "Playpen Sans", cursive;
}

.form-select {
  font-family: "Public Sans", sans-serif;
}

.page-title {
  font-family: "Playpen Sans", cursive;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-block: 1rem;
  color: #5e452a;
}

.sub-title{
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  color: #5e452a;
}

.btn {
  color: black;
}

.btn-primary, .btn-info {
  color: white;
}

.btn-success {
  background-color: rgb(143, 211, 143);
  border-color: rgb(143, 211, 143);
}

.btn-danger{
  background-color: rgb(202, 126, 126);
  border-color: rgb(202, 126, 126);
  color: black;
}

.btn-warning {
  background-color: rgb(236, 229, 122);
  border-color: rgb(236, 229, 122);
}

.btn-secondary {
  background-color: #d8c8bb;
  border: #d8c8bb;
}